.projects_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2.5rem;
}
.project_item{
    background: var(--color-bg-varient);
    padding:1.3rem;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: var(--transition);
    height:auto;
    display:grid;
}
.project_item:hover{
    border-color:var(--color-primary-varient);
    background-color: transparent;
}
.project_item_image{
    border-radius: 10px 10px 0 0;
    overflow:hidden ;
}
.project_item h3{
    margin:1rem 0 0;
}
.project_item_description{
    margin-bottom:0.5rem;
    display: inline-block;
}
.project_item_tools{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.project_item_cta{
    display: flex;
    gap:0.5rem;
    align-items: center;
}

/* MEDIUM DEVICES */
@media screen and (max-width:1280px) { 
    .projects_container{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem;
    }
}

/* SMALL DEVICES */
@media screen and (max-width:600px) { 
    .projects_container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
}